body {
    background-color: yellow;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-align: center;
    color: black;
}

button {
    text-shadow: 10px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

button a {
    text-decoration: none;
}

h2 {
    color: black;
    margin-left: 70px;
}

h3 {
    color: black;
    margin-left: 70px;
}

img {
    height: 50px;
    width: 50px;
}

.img-dashboard {
    margin-left: 70px;
    height: 578px;
    width: 1366px;
}

.header-wrapper {
    background-color: rgb(255, 166, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: aliceblue;
    border-bottom: 2px solid black;
    padding: 10px 20px;
}

.header-wrapper > .menu {
    display: flex;
}

.header-wrapper > .menu > button {
    background-color: aliceblue;
    padding: 16px 32px;
    border-radius: 20px;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.3s background-color ease-out;
}

.header-wrapper > .menu > button:hover {
    background-color: gainsboro;
}

.header-wrapper > .menu > button:first-child {
    border-radius: 4px 0 0 4px;
}

.header-wrapper > .menu > button:last-child {
    border-radius: 0 4px 4px 0;
}

.header-wrapper > .logo {
    width: 40px;
    height: 40px;
}

.main-content {
    padding: 24px;
}

.main-content .form-section {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.img-slideshow {
    width: 100%;
}

h1 {
    margin-left: 70px;
}
 
.img-profile {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 50%;
}

.img-profile2 {
    width: 300px;
    height: 300px;
    margin-top: -450px;
    margin-left: 450px;
    border-radius: 50%;
}

.img-profile3 {
    width: 300px;
    height: 300px;
    margin-top: -490px;
    margin-left: 830px;
    border-radius: 180px;
}

form {
    margin-left: 70px;
}

h4 {
    text-align: center;
    color: black;
}
